<div class="">
    <div class="container">
        <div class="row">
            <main class="col-md-6">
                <div class=" scrollable-column bg-white p-3"
                     style="height: calc(100vh - 70px);overflow-y: auto;scrollbar-width: none;-ms-overflow-style: none;">
                    {% for tweet in tweets %}
                        {% include "articel.html" with tweet=tweet index=forloop.counter %}
                    {% endfor %}
                </div>
            </main>
            <aside class="col-md-4">

                <div class="widget widget-category">
                    <h3 class="widget-title">Category</h3>
                    <div  class="d-flex flex-wrap" style="width:300px">
                        <p> <a href="#" class="rounded-pill shadow-sm p-2 text-decoration-none">Web Design</a></p>
                        <p><a href="#" class="rounded-pill shadow-sm p-2 text-decoration-none">Web Development</a></p>
                        <p><a href="#" class="rounded-pill shadow-sm p-2 text-decoration-none">SEO</a></p>
                        <p> <a href="#" class="rounded-pill shadow-sm p-2 text-decoration-none">Web Design</a></p>
                        <p><a href="#" class="rounded-pill shadow-sm p-2 text-decoration-none">Web Development</a></p>
                        <p><a href="#" class="rounded-pill shadow-sm p-2 text-decoration-none">SEO</a></p>
                        <p> <a href="#" class="rounded-pill shadow-sm p-2 text-decoration-none">Web Design</a></p>
                        <p><a href="#" class="rounded-pill shadow-sm p-2 text-decoration-none">Web Development</a></p>
                        <p><a href="#" class="rounded-pill shadow-sm p-2 text-decoration-none">SEO</a></p>
                    </div>
                </div>

                <div class="widget widget-archives">
                    <h3 class="widget-title">Archives</h3>
                    <div >
                        <p>
                            <a href="#" class="rounded-pill shadow-sm p-2 text-decoration-none">
                                July 2025
                            </a>
                        </p>
                        <p>
                            <a href="#" class="rounded-pill shadow-sm p-2 text-decoration-none">
                                June 2025
                            </a>
                        </p>
                        <p>
                            <a href="#" class="rounded-pill shadow-sm p-2 text-decoration-none">
                                May 2025
                            </a>
                        </p>
                        <p>
                            <a href="#" class="rounded-pill shadow-sm p-2 text-decoration-none">
                                April 2025
                            </a>
                        </p>
                    </div>
                </div>

                <div class="widget widget-recent-posts">
                    <h3 class="widget-title">Recent Posts</h3>
                        <p>
                            <a href="#" class="p-2 text-decoration-none">
                                Some random tweet
                            </a>
                        </p>
                        <p>
                            <a href="#" class="p-2 text-decoration-none">
                                Some random tweet 2
                            </a>
                        </p>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</div>