<div class="">
    <div class="container">
        <div class="row">
            <main class="col-md-6">
                <div class=" scrollable-column bg-white p-3"
                     style="height: calc(100vh - 70px);overflow-y: auto;scrollbar-width: none;-ms-overflow-style: none;">
                    {% for tweet in tweets %}
                        {% include "articel.html" %}
                    {% endfor %}
                </div>
            </main>
            <aside class="col-md-4">
                <div class="widget widget-recent-posts">
                    <h3 class="widget-title">Recent Posts</h3>
                    <ul>
                        <li>
                            <a href="#">Adaptive Vs. Responsive Layouts And Optimal Text Readability</a>
                        </li>
                        <li>
                            <a href="#">Web Design is 95% Typography</a>
                        </li>
                        <li>
                            <a href="#">Paper by FiftyThree</a>
                        </li>
                    </ul>
                </div>
                <div class="widget widget-archives">
                    <h3 class="widget-title">Archives</h3>
                    <ul>
                        <li>
                            <a href="#" >November 2014</a>
                        </li>
                        <li>
                            <a href="#" >September 2014</a>
                        </li>
                        <li>
                            <a href="#">January 2013</a>
                        </li>
                    </ul>
                </div>

                <div class="widget widget-category">
                    <h3 class="widget-title">Category</h3>
                    <div  class="d-flex flex-wrap" style="width:300px">
                        <p> <a href="#" class="rounded-pill shadow-sm p-2 text-decoration-none">Web Design</a></p>
                        <p><a href="#" class="rounded-pill shadow-sm p-2 text-decoration-none">Web Development</a></p>
                        <p><a href="#" class="rounded-pill shadow-sm p-2 text-decoration-none">SEO</a></p>
                        <p> <a href="#" class="rounded-pill shadow-sm p-2 text-decoration-none">Web Design</a></p>
                        <p><a href="#" class="rounded-pill shadow-sm p-2 text-decoration-none">Web Development</a></p>
                        <p><a href="#" class="rounded-pill shadow-sm p-2 text-decoration-none">SEO</a></p>
                        <p> <a href="#" class="rounded-pill shadow-sm p-2 text-decoration-none">Web Design</a></p>
                        <p><a href="#" class="rounded-pill shadow-sm p-2 text-decoration-none">Web Development</a></p>
                        <p><a href="#" class="rounded-pill shadow-sm p-2 text-decoration-none">SEO</a></p>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>